.root {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    & > * {
        margin-top: .7em;

        &:first-child {
            margin-top: 0;
        }
    }
}

.loaderWrapper {
    display: inline-block;

    position: relative;

    & > * {
        position: absolute;
        transform: translateY(-75%);
    }
}

.textButton {
    display: inline;
    background: none;
    border: none;
    font: inherit;

    text-decoration: underline;
}
