@import "../../../shared/styles/variables.scss";

.main {
  font-family: $font-main;
  color: $color-black;


  width: 100%;
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;

  &_m {
    font-size: 2.3rem;
  }

  &_l {
    font-size: 3rem;
  }
}
