@import "../../../../../../../shared/styles/variables.scss";

.AuthAccInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: $font-main;
  font-size: 1.5rem;
  color: $color-black;
  text-decoration: none;
  white-space: nowrap;
  cursor: default;

  position: relative;
}

.avatar {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}

.nickname {
  margin-inline: 1rem;
}

.logout {
  cursor: pointer;
  width: 2.2rem;
  height: 2.8rem;
}